<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="POST">
      Adjective:
      <input type="text" name="adjective1" />
      <br>
      Adjective:
      <input type="text" name="adjective2" />
      <br>
      Noun:
      <input type="text" name="noun1" />
      <br>
      Noun:
      <input type="text" name="noun2" />
      <br>
      Plural Noun:
      <input type="text" name="pNoun1" />
      <br>
      Game:
      <input type="text" name="game" />
      <br>
      Plural Noun:
      <input type="text" name="pNoun2" />
      <br>
      Verb ending in ing:
      <input type="text" name="verb1" />
      <br>
      Verb ending in ing:
      <input type="text" name="verb2" />
      <br>
      Plural Noun:
      <input type="text" name="pNoun2" />
      <br>
      Verb ending in ing:
      <input type="text" name="verb2" />
      <br>
      Noun:
      <input type="text" name="noun3" />
      <br>
      Plant:
      <input type="text" name="plant" />
      <br>
      Part of Body:
      <input type="text" name="bodyPart" />
      <br>
      Place:
      <input type="text" name="place" />
      <br>
      Verb ending in ing:
      <input type="text" name="verb3" />
      <br>
      Adjective:
      <input type="text" name="adjective3" />
      <br>
      Number:
      <input type="text" name="number" />
      <br>
      Plural Noun:
      <input type="text" name="pNoun4" />
      <br>
      <input type="submit" name="submit" value = "Generate Story"/>
    </form>
  </body>
</html>
