img {
  width: 100px;
}

body {
  background-color: rgba(109, 164, 191, .5);
}

h1 {
  color: teal
    /*background-image:url("spongebob.png");*/
}

ul {
  list-style: none;
  border: 5px dashed red;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  background-color: salmon;
  margin-top: 100px;
  /*margin: 100px inherit inherit inherit;*/
}

p {
  font-size: 30px;
  color: red;
  text-align: justify;
}

.flexContainer {
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}